$layout_bp_mobile: 360px;
$layout_bp_tablet: 769px;
$layout_bp_desktop: 1025px;
@mixin mobile {
    @media only screen and (max-width: #{$layout_bp_tablet}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$layout_bp_tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
        @content;
    }
}