@import './custom';
@import'./media';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    // max-width: 85%;
    // margin: 30px auto;
}

.container {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.col.col-cols-4 {
    background-color: black;
    /*     padding: 0;
    margin: 0; */
}

.col-lg-3 {
    background-color: lightgreen;
    border: 2px solid black;
}

.fa-bars {
    font-size: 30px;
}

.container__img {
    width: 100%;
    height: 300px;
}

.main__img {
    width: 100%;
    height: 250px;
}

.container__button {
    width: 100%;
    @include tablet {
        width: 100%;
        height: 300px;
    }
}

.button__dsp--mob {
    display: none;
}

.container__menu__but {
    display: none;
}

.data {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 30px 0 20px 25px;
    .photo-container {
        padding: 0;
    }
    .photo-container__img {
        margin-left: 5%;
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
    .img--dsp {
        display: none;
    }
    .personal-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 400px;
        margin-left: 16%;
        text-align: center;
        &__label {
            font-weight: 600;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('http://www.cvhldgs.com/wp-content/uploads/2017/03/bg-768x432.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .button_secction {
        margin-left: 9.5%;
        margin-right: 10%;
        display: flex;
        .button_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .buttons {
                margin: 18px 0;
                .btn--style {
                    width: 100px;
                    height: 50px;
                    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 5.5)), url('http://www.cvhldgs.com/wp-content/uploads/2017/03/bg-768x432.jpg');
                    background-size: auto;
                    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}

.main_cv_conatiner {
    display: flex;
    flex-direction: row;
}

.container_show {
    margin: 20px;
    width: 760px;
    height: 300px;
    .cv_secction {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .secction_list {
        text-align: left;
        list-style: none;
        padding: 0;
    }
    .experience,
    .studies,
    .language {
        display: none;
        flex-direction: column;
        align-items: center;
    }
}